/*
Name: Qtcreator Copy
Description: Qt Creator IDE Theme
Version: 0.1
Author: Andrei Shikalev
URL: http://шикалёв.рф
*/
.crayon-theme-qtcreator-copy {
	border-width: 1px !important;
	border-color: #e7e7e7 !important;
	border-style: solid !important;
	text-shadow: none !important;
	background: #ffffff !important;
}
.crayon-theme-qtcreator-copy-inline {
	border-width: 1px !important;
	border-color: #e7e7e7 !important;
	border-style: solid !important;
	background: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-table .crayon-nums {
	color: #a0a0a0 !important;
	border-right-style: double !important;
	border-right-color: #dedede !important;
}
.crayon-theme-qtcreator-copy .crayon-striped-line {
	background: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-striped-num {
	color: #a0a0a0 !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-line {
	background: #e0f0ff !important;
	border-width: 1px !important;
	border-color: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-num {
	color: #a0a0a0 !important;
	border-width: 0px !important;
	border-color: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-line.crayon-striped-line {
	background: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-num.crayon-striped-num {
	color: #a0a0a0 !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator-copy .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator-copy .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-qtcreator-copy .crayon-toolbar {
	background: #ffffff !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #e7e7e7 !important;
	border-bottom-style: solid !important;
}
.crayon-theme-qtcreator-copy .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-qtcreator-copy .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-qtcreator-copy .crayon-title {
	color: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-language {
	color: #999 !important;
}
.crayon-theme-qtcreator-copy a.crayon-button {
	background-color: transparent !important;
}
.crayon-theme-qtcreator-copy a.crayon-button:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-qtcreator-copy a.crayon-button.crayon-pressed:hover {
	background-color: #EEE !important;
	color: #666;
}
.crayon-theme-qtcreator-copy a.crayon-button.crayon-pressed {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator-copy a.crayon-button.crayon-pressed:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator-copy a.crayon-button:active {
	background-color: #BCBCBC !important;
	color: #FFF;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-c {
	color: #999999 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-s {
	color: #2aa03c !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-p {
	color: #000080 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-ta {
	color: #ff0000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-k {
	color: #808000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-st {
	color: #000000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-r {
	color: #416af3 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-t {
	color: #ff0000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-m {
	color: #ab10d2 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-i {
	color: #15a6eb !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-e {
	color: #800f80 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-v {
	color: #000000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-cn {
	color: #000000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-o {
	color: #808000 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-sy {
	color: #333 !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-n {
	color: #666 !important;
	font-style: italic !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-f {
	color: #ffffff !important;
}
.crayon-theme-qtcreator-copy .crayon-pre .crayon-h {
	color: #006fe0 !important;
}
